<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
<link th:href="@{/css/commons.css}" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<header>
  <div id="app">
    <div class="header">
      <h1 class="site_logo">商品管理システム</h1>
      <div class="user">
        <p class="user_name">[[ ${session.user.name} ]]さん、こんにちは</p>
        <form class="logout_form" action="logout.html" method="get">
          <button class="custom-btn" type="submit">
            <img th:src="@{/images/ドアアイコン.png}">ログアウト</button>
        </form>
      </div>
    </div>
  </div>
</header>

    <hr>

    <div class="btn-area">
        <span th:if="${session.user.role == 1}">
            <div class="btn"><a class="basic-btn regist" href="http://localhost:8080/insert">新規登録</a></div>
        </span>
      <div class="btn"><a class="basic-btn regist" href="category.html">カテゴリ管理</a></div>
    </div>

    <p th:text="${message}"></p>
<!--    <form method="get" action="#" class="search-form" th:object="${login}">-->
<form method="post" action="/menu" class="search-form" th:object="${search}">
<!--      上のth:objectのloginはindex.htmlのやつとたまたまかぶっただけ、変更するべき-->
      <div class="order">
        <select name="order" class="base-text">
          <option>並び替え</option>
          <option>商品ID：昇順</option>
          <option>商品ID：降順</option>
          <option>カテゴリ：昇順</option>
          <option>カテゴリ：降順</option>
          <option>単価：安い順</option>
          <option>単価：高い順</option>
        </select>
      </div>
      <div class="search-container">
        <input type="text" name="keyword" size="25" placeholder="キーワード検索" th:field="*{name}">
        <input type="submit" value="&#xf002">
      </div>
    </form>

    <table>
        <div class="caption"><p>検索結果：[[ ${products.size()} ]]件</p></div>
        
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>単価</th>
          <th>カテゴリ</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product: ${products}">
          <td th:text="${product.productId}"></td>
          <td th:text="${product.name}"></td>
          <td th:text="${product.price}"></td>
          <td th:text="${product.categoryName}"></td>
<!--          <td><a class="detail_btn" href="/detail">詳細</a></td>-->
          <td><a class="detail_btn" th:href="@{/detail/{id} (id = ${product.id})}">詳細</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer></footer>

</body>
</html>
